[Desktop Entry]
Name=Instant Messaging Contact
Name[cs]=Kontakt Instantní Komunikace
Name[x-test]=xxInstant Messaging Contactxx
Comment=Applet for one of your instant messaging contacts
Comment[cs]=Applet pro jeden kontakt instantní komunikace
Comment[x-test]=xxApplet for one of your instant messaging contactsxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=im-user

X-Plasma-DefaultSize=128,128

X-KDE-Library=plasma_applet_telepathy_contact
X-KDE-PluginInfo-Name=telepathy_contact
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Francesco Nwokeka
X-KDE-PluginInfo-Email=francesco.nwokeka@gmail.com
X-KDE-PluginInfo-Version=0.2.60
X-KDE-PluginInfo-Website=http://telepathy.freedesktop.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DropMimeTypes=application/vnd.telepathy.contact
