[Desktop Entry]
Name=Person
Name[ca]=Persona
Name[cs]=Osoba
Name[fi]=Henkilö
Name[nl]=Persoon
Name[pl]=Osoba
Name[pt]=Pessoa
Name[pt_BR]=Pessoa
Name[sk]=Osoba
Name[uk]=Особа
Name[x-test]=xxPersonxx
Comment=Makes a person easily accessible
Comment[ca]=Fa accessible una persona fàcilment
Comment[cs]=Usnadňuje přístup k osobám
Comment[nl]=Maakt een persoon gemakkelijk toegankelijk
Comment[pl]=Czyni osobę łatwo dostępną
Comment[pt]=Torna uma pessoa facilmente acessível
Comment[pt_BR]=Torna uma pessoa facilmente acessível
Comment[sk]=Urobí osobu ľahko prístupnú
Comment[uk]=Спрощує доступ до особи
Comment[x-test]=xxMakes a person easily accessiblexx

Icon=applications-system
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_person
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@blue-systems.com
X-KDE-PluginInfo-Name=person
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.person

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,300
