[Desktop Entry]
Name=Instant Messaging Contact
Name[ca]=Contacte de missatgeria instantània
Name[cs]=Kontakt komunikátoru
Name[da]=Instant messaging-kontakt
Name[de]=Instant-Messaging-Kontakt 
Name[el]=Επαφή με στιγμιαίο μήνυμα
Name[es]=Contacto de mensajería instantánea
Name[et]=Kiirsuhtluskontakt
Name[fi]=Pikaviestiyhteystiedot
Name[fr]=Contact de messagerie instantanée
Name[gl]=Contacto de mensaxaría instantánea
Name[hu]=Azonnali üzenetküldési partner
Name[it]=Contatto di messaggistica istantanea
Name[lt]=Greitųjų žinučių kontaktas
Name[nb]=Lynmeldingskontakt
Name[nl]=Contactpersoon van Instant Messaging
Name[pl]=Kontakt komunikatora internetowego
Name[pt]=Contacto de Mensagens Instantâneas
Name[pt_BR]=Contato de mensagens instantâneas
Name[sk]=Kontakt instant messagingu
Name[sr]=Брзогласнички контакти
Name[sr@ijekavian]=Брзогласнички контакти
Name[sr@ijekavianlatin]=Brzoglasnički kontakti
Name[sr@latin]=Brzoglasnički kontakti
Name[sv]=Direktmeddelandekontakt
Name[uk]=Контакт миттєвого обміну повідомленнями
Name[x-test]=xxInstant Messaging Contactxx
Name[zh_CN]=即时通讯联系
Name[zh_TW]=即時通訊聯絡人
Comment=Applet for one of your instant messaging contacts
Comment[ca]=Miniaplicació per un dels contactes de missatgeria instantània
Comment[da]=Applet til en af dine instant messaging-kontakter
Comment[de]=Miniprogramm für einen Ihrer Instant-Messaging-Kontakte
Comment[el]=Μικροεφαρμογή για μία από τις επαφές σας με στιγμιαία μηνύματα
Comment[es]=Miniaplicación para uno de sus contactos de mensajería instantánea
Comment[et]=Aplett mõne sinu kiirsuhtluskontakti jaoks
Comment[fi]=Sovelma yhdelle pikaviestiyhteystiedoistasi
Comment[fr]=Applet pour un de vos contacts de messagerie instantanée
Comment[gl]=Applet para un dos seus contactos de mensaxaría instantánea
Comment[hu]=Kisalkalmazás az azonnali üzenetküldési partnerei egyikének kezeléséhez
Comment[it]=Applet per uno dei tuoi contatti di messaggistica istantanea
Comment[nb]=Miniprogram for en av dine lynmeldingskontakter
Comment[nl]=Applet voor één van uw contactpersonen van Instant Messaging
Comment[pl]=Aplet dla jednego z kontaktów twojego komunikatora internetowego
Comment[pt]='Applet' para um dos seus contactos das mensagens instantâneas
Comment[pt_BR]=Miniaplicativo para um dos seus contatos de mensagens instantâneas
Comment[sr]=Аплет за један од ваших брзогласничких контаката
Comment[sr@ijekavian]=Аплет за један од ваших брзогласничких контаката
Comment[sr@ijekavianlatin]=Aplet za jedan od vaših brzoglasničkih kontakata
Comment[sr@latin]=Aplet za jedan od vaših brzoglasničkih kontakata
Comment[sv]=Miniprogram för en direktmeddelandekontakt
Comment[uk]=Аплет одного з ваших записів контактів миттєвого обміну повідомленнями
Comment[x-test]=xxApplet for one of your instant messaging contactsxx
Comment[zh_CN]=显示某个您的及时通讯联系人的部件
Comment[zh_TW]=您的即時訊息聯絡人
Type=Service
ServiceTypes=Plasma/Applet
Icon=im-user

X-Plasma-DefaultSize=128,128

X-KDE-Library=plasma_applet_ktp_contact
X-KDE-PluginInfo-Name=ktp_contact
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Francesco Nwokeka
X-KDE-PluginInfo-Email=francesco.nwokeka@gmail.com
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://telepathy.freedesktop.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DropMimeTypes=application/vnd.telepathy.contact
