[Desktop Entry]
Encoding=UTF-8
Name=Instant Messaging Presence
Name[et]=Kohalolek kiirsuhtluses
Name[sv]=Direktmeddelande finns
Comment=Shows your Decibel instant messaging status information
Comment[et]=Decibeli kiirsuhtluse oleku teabe näitamine
Comment[sv]=Visar Decibels statusinformation om direktmeddelanden
Icon=view-history
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_presence
X-KDE-PluginInfo-Author=George Goldberg
X-KDE-PluginInfo-Email=grundleborg@googlemail.com
X-KDE-PluginInfo-Name=presence
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://decibel.kde.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
