[Desktop Entry]
Encoding=UTF-8
Name=Instant Messaging Presence
Name[cs]=Přítomnost na IM
Name[es]=Presencia en mensajería instantánea
Name[nds]=Kortnarichten-Anwesigkeit
Name[nl]=Aanwezigheid van Instant Messaging
Name[pt]=Presença nas Mensagens Instantâneas
Name[pt_BR]=Presença nas mensagens instantâneas
Name[sv]=Direktmeddelande finns
Name[uk]=Присутність у обміні повідомленнями
Name[x-test]=xxInstant Messaging Presencexx
Comment=Shows your instant messaging status information
Comment[es]=Muestra información de su estado en sistemas de mensajería instantánea
Comment[nds]=Wiest Dien Kortnarichten-Status
Comment[nl]=Toont de informatie over de status van "instant messaging"
Comment[pt]=Mostra a sua informação de estado das mensagens instantâneas
Comment[pt_BR]=Mostra a sua informação de status das mensagens instantâneas
Comment[sv]=Visar statusinformation om direktmeddelanden
Comment[uk]=Показує інформацію про ваш стан у системі обміну повідомленнями
Comment[x-test]=xxShows your instant messaging status informationxx
Icon=view-history
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_presence
X-KDE-PluginInfo-Author=George Goldberg
X-KDE-PluginInfo-Email=grundleborg@googlemail.com
X-KDE-PluginInfo-Name=presence
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://telepathy.freedesktop.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
