[Desktop Entry]
Name=Telepathy Contact List Applet
Name[ca]=Miniaplicació de llista de contactes del Telepathy
Name[da]=Kontaktliste-applet til Telepathy
Name[de]=Telepathy-Kontaktlisten-Miniprogramm
Name[el]=Μικροεφαρμογή λίστας επαφών telepathy
Name[et]=Telepathy kontaktide nimekirja aplett
Name[fr]=Applet de listes de contacts Telepathy
Name[it]=Applet della lista dei contatti di Telepathy
Name[nl]=Applet voor contacten van Telepathy
Name[pl]=Aplet listy kontaktów Telepathy
Name[pt]='Applet' da Lista de Contactos do Telepathy
Name[pt_BR]=Miniaplicativo de lista de contatos do Telepathy
Name[sv]=Telepathy miniprogram med kontaktlistor
Name[uk]=Аплет списку контактів Telepathy
Name[x-test]=xxTelepathy Contact List Appletxx
Name[zh_CN]=Telepathy 联系人列表部件
Name[zh_TW]=Telepathy 聯絡人清單小程式
Comment=telepathy contact list applet
Comment[ca]=miniaplicació de llista de contactes del telepathy
Comment[da]=Kontaktliste-applet til Telepathy
Comment[de]=Telepathy-Kontaktlisten-Miniprogramm
Comment[el]=μικροεφαρμογή λίστας επαφών telepathy
Comment[et]=Telepathy kontaktide nimekirja aplett
Comment[fr]=Applet de listes de contacts Telepathy
Comment[it]=Applet della lista dei contatti di Telepathy
Comment[nl]=applet voor contacten van telepathy
Comment[pl]=aplet listy kontaktów telepathy
Comment[pt]='applet' da lista de contactos do Telepathy
Comment[pt_BR]=miniaplicativo da lista de contatos do Telepathy
Comment[sv]=Telepathy miniprogram med kontaktlistor
Comment[uk]=Аплет списку контактів Telepathy
Comment[x-test]=xxtelepathy contact list appletxx
Comment[zh_CN]=telepathy 联系人列表部件
Comment[zh_TW]=Telepathy 聯絡人清單小程式
Type=Service
ServiceTypes=Plasma/Applet
Icon=meeting-attending

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=200,300

X-KDE-PluginInfo-Name=org.kde.ktp.contactlist
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=kde@davidedmundson.co.uk
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://telepathy.freedesktop.org/

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
