[Desktop Entry]
Name=Instant Messaging Contact List
Name[ca]=Llista de contactes de missatgeria instantània
Name[cs]=Seznam kontaktů komunikátoru
Name[es]=Lista de contactos de mensajería instantánea
Name[nl]=Lijst met contactpersonen van Instant Messaging
Name[pt_BR]=Lista de contatos de mensagens instantâneas
Name[sk]=Zoznam kontaktov instant messagingu
Name[sv]=Lista över direktmeddelandekontakter
Name[uk]=Список контактів миттєвого обміну повідомленнями
Name[x-test]=xxInstant Messaging Contact Listxx
Comment=List instant messaging contacts
Comment[ca]=Llista els contactes de missatgeria instantània
Comment[cs]=Vypsat kontakty komunikátoru
Comment[es]=Lista de contactos de mensajería instantánea
Comment[nl]=Contactpersonen van Instant Messaging tonen
Comment[pt_BR]=Lista os contatos de mensagens instantâneas
Comment[sk]=Vypísať kontakty instant messagingu
Comment[sv]=Lista direktmeddelandekontakter
Comment[uk]=Показати список контактів миттєвого обміну повідомленнями
Comment[x-test]=xxList instant messaging contactsxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=meeting-attending

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=200,300

X-KDE-PluginInfo-Name=org.kde.ktp.contactlist
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=kde@davidedmundson.co.uk
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://telepathy.freedesktop.org/

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
